/* 
    Created on : 04.01.2018, 04:54:54
    Author     : reich
*/

/*** 12 spaltiges Grid mit Flexboxen ***/

/*** Container ***/
.row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

/*** Spaltendefinitionen Smartphone Ansicht: max. 4 Spalten ***/
@media (max-width: 529px) {
    .col-s-4 {
        width: 100%;
    }
}

/*** Spaltendefinitionen Tablet Ansicht: max. 8 Spalten ***/
@media (min-width: 530px) {
    .col-m-3 {
        width: 33.3333333%;
    }
    .col-m-4 {
        width: 50%;
    }
    .col-m-5 {
        width: 66.6666667%;
    }
    .col-m-8 {
        width: 100%;
    }  
}

/*** Spaltendefinitionen Desktop Ansicht: max. 12 Spalten ***/
@media (min-width: 800px) {
    .col-1 {
        width: 8.3333333%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.3333333%;
    }
    .col-5 {
        width: 41.6666667%;
    }
    .col-6 {
        width: 50%;
    }
    .col-8 {
        width: 66.66666667%;
    }
    .col-12 {
        width: 100%;
    }
}