/* 
    Created on : 19.01.2018, 15:39:10
    Author     : breichelt
*/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #e6e6e6;
    color: #000;
}

/*** Allgemeine Definitionen ***/
h1 {
    margin: 10px;
    color: #F2F2F2;
    font-size: 48px;
    font-weight: 100;
}

h1 span {
    margin-left: -2px;
    color: #FDBD02;
    font-size: 24px;
    font-weight: 600;
}

h2 {
    padding: 10px 0 10px 0;
    text-align: center;
    color: #011448;
    font-size: 36px;
    font-weight: 100;
}

main {
    padding-bottom: 20px;
}

/*** Standard-Button ***/
.button a {
    background: #FDBD02;
    color:#303E64; 
    border: none; 
    width: 100px; 
    margin: 5px; 
    float: right; 
    padding: 2px; 
    border-radius: 5px; 
    cursor:pointer; 
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}

.button a:hover {
    color:#fff; 
}

/*** Header-Bereich mit Navigationsleiste ***/
header {
    width: 100%;
    background-color: #303E64;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav li {
    float: left;
    text-align: center; 
}

nav li a {
    display: block;
    width: 120px;
    height: 35px;
    border: 1px solid #000;
    background-color: #e6e6e6;
    color: #000;
    text-decoration: none;
    margin: 5px;
    text-align: center;
    line-height: 35px;
}

nav li a:hover {
    background-color: #F2C608;
}

nav {
    text-align: center;
}

div[class^="col-"] {
    padding: 0 10px 0 10px;
}

div.gallery {
    padding: 15px 10px 0 10px;
}

img {
    width: 100%;
}

.gallery h3 {
    margin: 0;
    text-align: left;
    font-size: 36px;
    font-weight: 300;
    color: #011448;
}

.gallery a {
    text-decoration: none;
    color: #303E64;
    font-size: 18px;
}

.small {
    font-size: 12px;
    color:#A9A9A9;
}

/* h3 {
    text-align: center;
    color: #303E64;
    font-size: 32px;
    font-weight: 500;
} */

.workshops h3 {
    text-align: left;
    font-size: 36px;
    font-weight: 300;
}

.workshops {
    margin-bottom: 35px;
}

.categoryLabel {
    border-radius: 10px;
    background: #011448;
    color: #FDBD02;
    float:left;
    padding: 5px 20px 5px 20px;
    margin: 9px 5px 5px 5px;
}

.infobox {
    font-size: 20px;
}

.eventDate {
    font-weight: 600;
}

@media (max-width: 799px) {
    div.followElement {
        padding-top: 10px;
    }
}

/*** Formulare ***/

form {
    width: 440px;
    margin: auto;
}

label {
    width: 120px;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    text-align: right;
}

label.errorMsg {
    width: 420px;
    display: inline-block;
    margin: 0 5px 15px 0;
    vertical-align: top;
    text-align: right;
    color: orange;
}

input {
    width: 300px;
}

input[type="submit"] {
    width: 100px;
    margin-left: 330px;
}

#entry {
    width: 300px;
    height: 150px;
    margin-bottom: 10px;
}




